*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
}

html, body {
    min-height: 100vh;
}
.flexible {
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -999;
    top: 0;
    left: 0;
}

.myClass {
    overflow: hidden;
    color: #eee;
    padding: 3em;
}

.myClass ul li {
    font-family: Arial;
    font-size: 20pt;
    line-height: 30pt;
}

.hidden {
    display: none;
}

.content {
    color: #eee;
    font-size: 1.5em;
}

.bgv-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background-image: none;
    background-repeat: repeat;
    z-index: -998;
}

p {
    color: #eee;
}